<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>vue-example</title>
    <link rel="stylesheet" href="static/css/app.css">
  </head>
  <body>
    <!-- Application -->
    <div id="app">
      <!-- Search Box -->
      <div class="search-wrapper">
        <!-- Bind Text input to 'keyword' variable -->
        <input type="text" v-model="keyword" placeholder="Search Title">
        <label for="keyword">Search Title</label>
      </div>
      <!-- Posts's Area -->
      <div class="wrapper">
        <!-- Show Each Post within the 'filteredList' -->
        <div class="card" v-for="post in filteredList">
          <!-- Bind the 'link' attribute to provide a working href -->
          <a v-bind:href="post.link" target="_blank">
            <!-- Bind the 'img' attribute to use the image -->
            <img v-bind:src="post.img" alt="Post Image"/>
            <small>Posted by {{ post.author }}</small>
            {{ post.title }}
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
