html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 16px; }

div#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  div#app .search-wrapper {
    position: relative; }
    div#app .search-wrapper label {
      position: absolute;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.5);
      top: 8px;
      left: 12px;
      z-index: -1;
      transition: .15s all ease-in-out; }
    div#app .search-wrapper input {
      padding: 4px 12px;
      color: rgba(0, 0, 0, 0.7);
      border: 1px solid rgba(0, 0, 0, 0.12);
      transition: .15s all ease-in-out;
      background: white; }
      div#app .search-wrapper input:focus {
        outline: none;
        transform: scale(1.05); }
        div#app .search-wrapper input:focus + label {
          font-size: 10px;
          transform: translateY(-24px) translateX(-12px); }
      div#app .search-wrapper input::-webkit-input-placeholder {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.5);
        font-weight: 100; }
  div#app .wrapper {
    display: flex;
    max-width: 444px;
    flex-wrap: wrap;
    padding-top: 12px; }
  div#app .card {
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    max-width: 124px;
    margin: 12px;
    transition: .15s all ease-in-out; }
    div#app .card:hover {
      transform: scale(1.1); }
    div#app .card a {
      text-decoration: none;
      padding: 12px;
      color: #03A9F4;
      font-size: 24px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      div#app .card a img {
        height: 100px; }
      div#app .card a small {
        font-size: 10px;
        padding: 4px; }
  div#app .hotpink {
    background: hotpink; }
  div#app .green {
    background: green; }
  div#app .box {
    width: 100px;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.12); }
